{
  "plugins": [
    "transform-flow-comments",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    ["transform-es2015-modules-commonjs", {
      "loose": true,
      "noInterop": true,
      "allowTopLevelThis": true
    }]
  ]
}
